.btn.btn-outline-primary.my-2.my-sm-0 {
    margin-left: 7px;
}

.box-shadow-style {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.pricing-text {
    text-align: center;
}

.main {
    overflow: -moz-hidden-unscrollable;
}

.Quickly-text {
    text-align: center;
    font-size: 18px;
    color: gray;
}

.outer-box {
    height: 338px;
    border: 1px solid #8080804f;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.top-box {
    text-align: center;
    background: #d3d3d366;
    padding: 5px 0;
    border: 1px solid lightgray;
}

.bottom-box {
    text-align: center;
}


.custome-sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.custome-sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}

.custome-sidebar a.active {
    background-color: #fb771a;
    color: white;
}

.custome-sidebar a:hover:not(.active) {
    background-color: #fb771a;
    color: white;
}

@media screen and (max-width: 700px) {
    .custome-sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .custome-sidebar a {
        float: left;
    }
}

@media screen and (max-width: 400px) {
    .custome-sidebar a {
        text-align: center;
        float: none;
    }
}